<div class="wrapper">
  <img class="weather-icon"  src="../../assets/icons/Icon feather-cloud-rain.svg"/>

  <div class="temp-degree">
    <b class="celsius-icon">23</b>
    <p>Rain</p>
  </div>

  <div class="time">
    <p>10:00</p>
    <p>11:00</p>
    <p>12:00</p>
    <p>13:00</p>
    <p>14:00</p>
  </div>

  <div class="date-wrapper">

    <div class="temp-degree-up-low">
      <span class="celsius-icon">22/21</span>
    </div>

    <div class="day">
      <p>Tue</p>
      <p>Wed</p>
      <p>Thu</p>
      <p>Fri</p>
      <p>Sat</p>
    </div>

  </div>

  <div class="location">
    <p>Weather</p>
    <p>Zielona Góra, Poland</p>
  </div>
</div>
