/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins';
}
.green {
  background: transparent linear-gradient(235deg, #187505 0%, #93B100 100%) 0% 0% no-repeat padding-box;
}
.red {
  background: transparent linear-gradient(235deg, #75050f 0%, #B16C00CF 100%) 0% 0% no-repeat padding-box;
}
.blue {
  background: transparent linear-gradient(235deg, #053D75 0%, #0098B1 100%) 0% 0% no-repeat padding-box;
}
.d-flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-evenly {
  justify-content: space-evenly
}

.text-center {
  text-align: center;
}
.align-end {
  align-items: flex-end;
}
.align-center {
  align-items: center;
}